@import url('https://fonts.googleapis.com/css2?family=Besley:ital@1&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Besley', serif;
}
body{
    width: 100%;
    height: 100vh;
    background-image: url("../images/windy-5940755.png");
    background-position: left;
    background-size: 78%;
    overflow: hidden;
}
.ClimaLayout{
    display: grid;
    place-items: center;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
}
.ClimaLayout__progress{
margin-top: 200px;
padding: 20px;
width: 90%;
}
.ClimaLayout__item{
    margin-top: 50px;
}
.ClimaLayoutDiv{
    width: 90%;
    text-align: center;
}
.m-left{
    margin-left:550px;
}
.ClimaLayout__text{
    font-size: 1.8rem;
    margin-bottom: 15px;
}